# Build related
npm-debug.log*
coverage/
node_modules
.npmrc
package-lock.json
version.txt
dist/

# OS X Files
.DS_Store

# Docker build-related files
docker-compose.cloud.yml

# Misc
mywod/
data.mywod
